body{ background: tomato;}
form{
 background-color: grey;
 animation-name: reg;
 animation-duration: 20s;
 animation-iteration-count: infinite;
 transition: all linear;
 
}
label{
 font-size: 1.5rem;
  line-height: 40px;
  margin-left: 150px; ;color: white;
  width: 100px;
}
input{
 width: 30%; height: 30px;
 block-size: 30px; margin-left: 10rem;
 line-height: 40px; 
}
button{
 display: block;
 width:200px;background: blue; height: 50px;
 font-size: 2rem; margin-left: 800px;
}
@keyframes reg{
 0%{
  background: rgb(77, 43, 61);
 }
 25%{ background: linear-gradient(150deg,rgb(141, 127, 127),rgb(165, 138, 51),rgb(95, 95, 31));}
 50%{ background: linear-gradient(320deg,rgb(185, 131, 131),rgb(86, 122, 86),rgb(87, 134, 148));}
 75%{ background: linear-gradient(150deg,rgb(180, 113, 113),rgb(84, 148, 84),rgb(105, 105, 22));}
  100%{ background: linear-gradient(320deg,rgb(36, 114, 124),rgb(51, 63, 99),rgb(201, 201, 148));}
}